 p{
   font-family: Roboto, Arial, Helvetica, sans-serif;
   margin-top: 0;
   margin-bottom: 0;
 }

 body{
  margin: 0;
  padding-left: 95px; 
  padding-right: 25px; 
  padding-top: 75px;
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
}

.video-time{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  bottom: 5px;
  right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 3px;
}