button{
  margin: 10px;
  padding: 8px;
}
a{
  margin: 5px;
}


.uber{
  color: white;
  background-color: black;
  padding: 11px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.uber:hover{
  opacity:0.7;
}


.amazon{
  background-color:rgb(228, 196, 39);
  padding: 11px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  transition: background-color 0.15s;
}
.amazon:hover{
  background-color:rgb(179, 154, 32) ;
}
.github{
  color: white;
  background-color: rgb(73, 175, 102);
  padding: 11px;
  padding-left:20px;
  padding-right: 20px;
  border:none;
  border-radius: 8px;
  font-weight:bold ;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.github:hover{
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
}
.bootstrap{
  color:white ;
  background-color: rgb(112, 76, 165);
  border-color: rgb(112, 76, 165);
  border: 1px;
  padding: 13px;
  padding-left:20px ;
  padding-right:20px ;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.bootstrap:hover{
  opacity: 0.8;
}
.bootstrap2{
  color: rgb(112, 76, 165);
  background-color: white;
  border-color: rgb(112, 76, 165);
  border: 1px;
  padding: 11px;
  padding-left:20px ;
  padding-right:20px ;
  border-style: solid;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.bootstrap2:hover{
  background-color:rgb(112, 76, 165) ;
  color: white;
}
.linkedin{
  color: white;
  background-color: rgb(10, 102, 194);
  border: none;
  border: 1px;
  padding: 13px;
  padding-left:35px ;
  padding-right:35px ;
  border-style: solid;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;
}
.linkedin:hover{
  background-color:rgb(25, 70, 116) ;
}

.linkedin2{
  color: rgb(10, 102, 194);
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-width: 1px;
  padding: 11px;
  padding-left:25px ;
  padding-right:25px ;
  border-style: solid;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: border-width 0.15s;
}
.linkedin2:hover{
  border-width:3px ;
}
.link{
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}
.link:hover{
  color: rgb(124, 90, 27);
}
.stock{
  color: rgb(0,118,0);
}

.cart{
  background-color:rgb(228, 196, 39);
  padding: 11px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  transition: opacity 0.15s;
}
.cart:hover{
  opacity: 0.8;
}
.cart:active{
  opacity:0.3;
}

.buy{
    background-color:rgb(255, 164,28);
  padding: 11px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  transition: opacity 0.15s;
}
.buy:hover{
  opacity: 0.8;
}
.buy:active{
  opacity:0.3;
} 

.stretch{
  background-color: green;
  color: white;
  border: none;
  padding: 12px;
  transition: padding 0.15s;
  cursor: pointer;
}

.stretch:hover{
  padding: 20px;
}

.shadow{
  background-color: green;
  color: white;
  border: none;
  padding: 14px;
  transition:opacity 0.15s, box-shadow 0.15s, margin 0.15s ;
  cursor: pointer;
}

.shadow:hover{
  opacity: 0.7;
}
.shadow:active{
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
  margin: 12px;
}

.one{
  background-color: green;
  color: white;
  border: none;
  padding: 9px;
  cursor: pointer;
  transition: padding-right 0.15s, padding-left 0.15s;
}
.one:hover{
  padding-left: 20px;
  padding-right: 20px;

}
.two{
  background-color: green;
  color: white;
  border: none;
  padding: 9px;
  transition: padding-right 0.15s, padding-left 0.15s;
  cursor: pointer;
}
.two:hover{
  padding-left: 20px;
  padding-right: 20px;
}
.three{
  background-color: green;
  color: white;
  border: none;
  padding: 9px;
  transition: padding-right 0.15s, padding-left 0.15s;
  cursor: pointer;
}
.three:hover{
  padding-left: 20px;
  padding-right: 20px;
}